@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

/* temp
.container {
    outline: 2px solid black
}

section,
header,
footer {
  outline: 2px dashed red;
} */

/* -------------------------------------------------------------------------- */

/* global */

html {
	background-color: #23272a !important;
}

.hidden {
	display: none;
}

h1,
body {
	/* both h1 and body to make all default margins gone */
	margin: 0;
}

.m0 {
	margin: 0px;
}

body {
	/* assign max width so that when vw is too much it wont keep stretching and look bad */
	/* max-width: 1600px; */
	margin: 0 auto; /* use this to move stuffs to center*/
	height: 100%;
	/* min-height: 100%; */
	padding: 0;
	background: #23272a;
	margin: auto;
	/* box-sizing: border-box; */
}

html {
	background: darkgray;
	color: #fff;
	font-family: "electrolize", sans-serif;
	font-size: 15px;
	line-height: 1.5;
	/* height: 100%; */
}

.container {
	/* width: 100%; */
	margin: auto; /* use this to move stuffs to center when its width related*/
	display: flex;
}

ul {
	list-style: none;
}

/* ----------------------------------------------------------------------------------- */

/* header */
header {
	z-index: 101;
	box-sizing: border-box;
	padding: 30px 10px;
	margin: 0;
	position: sticky;
	top: 0;
	width: 100%;
	height: 5vh;
	background-color: rgba(35, 39, 42, 0.4);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logoimg {
	transform: scale(0.85);
}

header.headerPic {
	position: fixed;
}

.static {
	position: static;
}

.header {
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin: 0;
}

.head {
	width: 33%;
	margin: 0;
}

.searchBar {
	display: flex;
	align-items: center;
	text-align: center;
	height: 40px;
}

.textInput {
	height: 30px;
	width: 300px;
	align-items: center;
	border-radius: 10px;
}

.navbar {
	text-align: end;
	display: flex;
	justify-content: space-between;
	font-size: 25px;
}

.here {
	border-bottom: 2px solid #7289da;
}

navBar > li {
	text-decoration: none;
	/* margin: 100px; */
}

a {
	text-decoration: none;
	color: white;
}

.iconNav {
	display: flex;
	align-items: center;
}

.iconNav svg {
	display: flex;
}

/* ------------------------------------------------------------------------------------- */

/* section1 : intro */

.navSpace {
	margin-top: 10vh;
}

.index {
	padding-top: 10vh;
}

.section {
	flex-direction: column;
	padding-bottom: 2.5vh;
	/* padding-top: 10vh; */
}

.tophalf {
	background-image: url("./img/bg1.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.innerIntro {
	background-color: rgba(64, 64, 64, 0.4);
	height: 87.5vh;
	justify-content: space-between;
	align-items: center;
}

h1 {
	font-size: 40px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 20px;
}

.btn {
	font-family: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	width: 150px;
	height: 50px;
	border-radius: 15px;
	/* box-shadow: 0 0 10px  white; */
	border: 1px solid #7289da;
	color: white;
	font-size: 40px;
	background-color: #23272a;
	cursor: pointer;
}

.smallBtn {
	font-family: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	padding: 0.5rem;
	margin: 0;
	/* width: 150px;
	height: 50px; */
	border-radius: 15px;
	/* box-shadow: 0 0 10px  white; */
	border: 1px solid #7289da;
	color: white;
	font-size: 40px;
	background-color: #23272a;
	cursor: pointer;
}

.srchbtn {
	height: 35px;
	width: fit-content;
	font-size: 25px;
	border-radius: 10px;
}

/* ------------------------------------------------------------------------------------------- */

/* section2: slide */
/* change nav scroll style with js */
.slider {
	display: flex;
	margin: auto;
	align-items: center;
}

.cardContainer {
	display: flex;
	justify-content: space-around;
	padding: 0 10px 0 10px;
	/* width: 100%; */
}

.bottomhalf {
	/* height: 80vh; */
	align-items: center;
}

.cardWrapper {
	width: 80vw;
}

.card {
	outline: 1px solid black;
	width: 100vw;
	height: 50vh;
	/* width: 12rem;
    height: 20rem; */
	box-shadow: 0px 0px 2rem 0px #888888;
	background-color: white;
	position: relative;
	color: black;
}

.card > a > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card:nth-child(2n + 1) {
	transform: scale(0.85);
}
/* .card:nth-child(4n + 1) {
    transform: scale(0.75);
} */
.card:nth-child(1) {
	z-index: 9;
	left: 5%;
}
.card:nth-child(2) {
	z-index: 10;
}
.card:nth-child(3) {
	z-index: 9;
	left: -5%;
}

.slidebtn {
	display: flex;
	align-items: center;
	background: none;
	text-align: center;
	width: 90px;
	height: 90px;
	border-radius: 15px;
	border: 1px solid #7289da;
	color: white;
	font-size: 90px;
	background-color: #23272a;
}

.card > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* ------------------------------------------------------------------------------------------ */

/* footer */

footer {
	padding: 0.5px;
	padding-top: 20px;
	text-align: center;
	background-color: #2c2f33;
}

/* ------------------------------------------------------------------------ */

/* signup */

.signup {
	/* height: 100vh; */
	background-image: url(./img/signup\ bg.jpg);
	background-position: center;
	background-size: cover;
	justify-content: center;
}

.signContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 40%;
}

.signForm {
	/* border: 1px white solid; */
	border-radius: 20px;
	padding: 20px;
	margin: auto;
	width: 60%;
	/* height: 80%; */
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(64, 64, 64, 0.4);
}

.signForm > input {
	margin-top: 40px;
	font-family: "electrolize", sans-serif;
	height: 40px;
	width: 100%;
	background-color: #23272a;
	border: 1px solid #7289da;
	color: white;
	border-radius: 5px;
	font-size: 20px;
}

.inputpair {
	display: flex;
	flex-direction: column;
	padding: 10px 0;
	width: 100%;
}

.inputpair > input {
	height: 30px;
	border-radius: 5px;
}

/* ------------------------------------------------------------------------------------------- */

/* login */
.login {
	/* max-width: 100vw; */
	min-height: 81.5vh;
	background-image: url(./img/login\ bg.png);
	background-position: center;
	background-size: cover;
	justify-content: center;
	/* padding: 20px; */
	/* padding-left: 20px;
	padding-right: 20px;
	padding-left: 20px; */
}

.checkbox {
	flex-direction: row;
	align-items: center;
}

.signForm > p {
	padding-top: 20px;
}

p > a {
	font-size: 25px;
}

/* ----------------------------------------------------------------------------- */

/* browse */

/* expand slide */
/* .expslideContainer {
	padding: 50px;
	width: 80%;
	margin: auto;
} */

.expslide {
	margin: 0px;
	padding: 0px;
}

.expslide > a > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* item */
.expslide > a {
	position: relative;
	margin: 2px;
	display: block;
	flex: 1 1 0px;
	overflow: hidden;
	transition: transform 500ms;
}

.expslide:hover a {
	transform: translateX(-25%);
}

.expslide a:hover {
	transform: scale(1.5);
	z-index: 1;
}

.expslide a:hover ~ a {
	transform: translatex(25%);
}

/* --------------------------------------------------------------------------- */

/* my profile */

/* profile pic */
.userPic {
	height: 40px;
	width: 40px;
	/* hide overflow to make radius work */
	overflow: hidden;
	border-radius: 100%;
}

.userPic > a > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.compartment {
	justify-content: space-between;
}

.compartment > * {
	/* outline: 2px solid white; */
	/* height: 95vh; */
	background-color: #2c2f33;
	/* padding-bottom: 50px; */
}

.left {
	width: 20%;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
}

.center {
	background-color: #23272a;
	width: 60%;
}

.right {
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.sidebarContent {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: 5%;
}

.sidebarContent > * {
	text-align: left;
	padding: 5px 0;
	margin: 5px 20px;
	font-size: 20px;
	background: none;
	/* border: none; */
}

.sidebarContent > a:hover,
.settingCategory > a:hover {
	background: white;
	color: black;
}

/* .plus {
	text-align: center;
} */

.plusbtn {
	margin: auto;
	/* margin: 0 auto 20%; */
	width: 80%;
	font-size: 20px;
}

/* popup boxes */
.popupBox {
	/* outline: 1px solid #7289da; */
	position: absolute;
	width: 30%;
	left: 20%;
	margin-left: 10px;
	z-index: 1;
	box-shadow: 0 0 4px #7289da;
	border-radius: 5px;
	padding: 0;
}

.popupLabel {
	font-size: 20px;
	text-align: center;
	padding-bottom: 10px;
}

.popupLabel,
.popupItem {
	border-bottom: 1px solid #7289da;
	/* margin-right: 10px; */
	/* width: 90%; */
	margin-left: 20px;
	margin-right: 20px;
}

.popupItem {
	/* outline: lime 1px solid; */
	display: flex;
	/* border-bottom: 1px solid #eee; */
	padding: 5px 5px;
	margin-bottom: 15px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.popupItem:hover {
	background-color: white;
	color: #2c2f33;
}

.popupItem img {
	display: block;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border-radius: 50%;
}

.popupShowMore {
	text-align: center;
	font-size: 20px;
}

.showMoreNoti:hover {
	text-decoration: underline;
	cursor: pointer;
}

.centerContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* font-size: 20px; */
}

.picFrame {
	/* width: 30%; */
	width: 15vw;
	height: 15vw;
	overflow: hidden;
	border-radius: 100%;
}

.picFrame > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

p.textCenter {
	text-align: center;
}

.friend,
.group {
	/* padding: 10px; */
	justify-content: left;
	width: 100%;
	display: flex;
	align-items: center;
	width: auto;
}

.friend > *,
.group > * {
	margin: 10px;
	margin-right: 0;
}

.groupList {
	padding-bottom: 40px;
}

.friendList,
.groupList {
	margin-top: 0;
}

/* ------------------------------------------------------------------------------------------------- */

/* edit profile */

.editPfPicText {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	display: none;
	background-color: rgba(35, 39, 42, 0.4);
}
.editPfPic:hover ~ .editPfPicText {
	display: flex;
}

.editContainer {
	position: relative;
	width: 400px;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.editContainer * {
	margin: 0;
}

.editContainer .editIcon {
	height: 16px;
	width: 16px;
	margin-left: 5px;
	/* padding: 0; */
	/* object-fit: cover; */
}

.editInputContainer {
	position: absolute;
}

.currentContainer {
	margin-bottom: 50px;
}

.outline {
	outline: white 1px solid;
}

.otherEditContainer {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.alignStart {
	justify-content: flex-start;
}

/* -------------------------------------------------------------------------------------------- */

/* chat */
.chatContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	padding-bottom: 0;
	margin-bottom: 0;
}

.threePiecesChat {
	margin-bottom: -10px;
}

.threePiecesChat > * {
	padding-bottom: 0;
	height: 80vh;
}

.textInputContainer {
	/* outline: 1px white solid; */
	background-color: #2c2f33;
	margin: 0;
	/* height: auto; */
	position: relative;
	bottom: 0px;
}

.textInputContainer > * {
	margin: 0;
}

.userBar {
	display: flex;
	align-items: center;
	/* justify-content: center; */
	width: 20%;
}

.userBar > * {
	margin-left: 5px;
	/* margin-right: 10px */
}

.userPicChat {
	height: 40px;
	width: 40px;
}

.textBar {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60%;
}

.chatInputBar {
	width: 90%;
	height: 30px;
	border-radius: 5px;
}

.rightBar {
	width: 20%;
}

.sendmsgbtn {
	height: 35px;
	font-size: 30px;
	border-radius: 5px;
	width: 10%;
}

.serverName {
	border: #7289da 1px solid;
	box-shadow: 0 0 4px #7289da;
}

/* ---------------------------------------------------------------------------- */

/* community page */

/* leftbar */
.w30 {
	width: 30%;
}
.w70 {
	width: 70%;
}

.t40 {
	font-size: 40px;
	margin-top: 10px;
}

.communitySideBar > .sidebarContent > * {
	margin: 5px;
}

.flexRow {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.memberCount,
.memberOnline {
	margin-left: 5px;
}

.chatNow {
	margin-top: 30px;
}

.communitySettings {
	display: flex;
	justify-content: center;
	/* position: relative; */
	/* bottom: -5%; */
	margin: 1rem;
}

.settingsbtn {
	width: 5vw;
	height: 5vw;
}
.settingsbtn > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* mainbar */
.eventTableContainer,
.memberSettingsTableContainer {
	width: 80%;
	/* height: 50vh; */
}

.eventTable,
.memberSettingsTable {
	width: 100%;
}

table,
td,
th {
	border: 1px white solid;
	text-align: center;
}

/* ----------------------------------------------------------- */

/* community settings */
.communitySettingsSideBar {
	width: 20%;
	padding-bottom: 0;
	background-image: url(./img/reachmoon.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.communitySettingsCenter {
	width: 80%;
}

.editFieldContainer {
	width: 80%;
}

.settingCategory {
	width: 80%;
	padding-bottom: 5px;
	border-bottom: 2px solid white;
	margin-bottom: 3%;
	margin-top: 2%;
}

.settingCategory > a {
	margin-right: 50px;
}

.communityTagList {
	display: flex;
	align-items: center;
}

.communityTagFrame {
	box-sizing: border-box;
	font-size: initial;
	height: 30px;
	margin: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border: 1px solid #7289da;
	padding: 5px;
	background: none;
	color: inherit;
}

.addbtn {
	width: 30px;
	/* height: 30px; */
}

.editbtnContainer {
	display: flex;
	justify-content: center;
}

.editbtn {
	width: auto;
	font-size: 16px;
	margin: 0.1rem;
}

.resetChanges {
	background-color: #7289da;
	border-color: #2c2f33;
}

.confirmChanges {
	background-color: #418348;
}

.deleteCommunity {
	background-color: #ff0000;
}
/* ---------------------------------------------------------------------------- */

/* member setting */

.memberSettingsTable * {
	border: none;
}

.moreOption {
	display: flex;
	justify-content: center;
	align-items: center;
}

.moreOption > img {
	width: 30px;
	height: 30px;
	object-fit: cover;
}

.needvh {
	height: 100vh;
}

.h100 {
	height: 100%;
}

.pageNav {
	display: flex;
	align-items: center;
	justify-content: center;
}

.pageNavbtn {
	margin: 10px;
	font-size: initial;
	width: 20px;
	height: 20px;
}

.underline {
	border-bottom: 2px solid #7289da;
}

.createbtn {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: initial;
}

.nextbtn,
.previousbtn {
	background: none;
	border: none;
	width: auto;
	height: auto;
}

.nextbtn > a,
.previousbtn > a {
	font-size: 30px;
}

/* ------------------------------------------------------------------------------------------------- */

/* character sheet */

.charaSheetSection {
	background-image: url(./img/bg1.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* header */

.static {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.charaHeader {
	height: 10vh;
	width: 100%;
	background-color: #2c2f33;
	margin: 0%;
	padding: 0%;
	font-size: 16px;
}

.charaHeader * {
	font-size: 16px;
	padding: 0;
	margin: 0;
	padding: 0px 10px;
}

.charaName span,
.charaName .editIcon {
	padding: 0;
}

.inheritSelect {
	background-color: inherit;
	border: none;
	color: inherit;
}

.inheritSelect > option {
	background-color: #23272a;
}

.charaNav,
.nextBack {
	display: flex;
}

.nextBack {
	justify-content: space-between;
}

.saveCharaSheet {
	width: auto;
	height: auto;
	font-size: 16px;
}

.innerSection {
	width: 80%;
	margin: auto;
	padding: 20px 0;
}

.charaPicFrame {
	height: 150px;
	width: 150px;
	border: 1px white solid;
	box-shadow: 0 0 5px white;
}

.charaSheetTop {
	justify-content: space-around;
	padding-top: 20px;
	padding-bottom: 20px;
	align-items: center;
	background-color: #23272a;
	border: 1px white solid;
	box-shadow: 0 0 5px white;
}

.generalCharaInfo {
	display: flex;
	align-items: center;
	border: 1px white solid;
	box-shadow: 0 0 5px white;
	border-radius: 5px;
	padding: 20px;
}

.generalCharaInfo > table {
	border-collapse: collapse;
	/* outline: 1px solid white; */
}

.generalCharaInfo > table * {
	text-align: center;
	min-width: 100px;
}

.generalCharaInfo > table,
.generalCharaInfo > table * {
	border: none;
}

.generalCharaInfo > table th {
	border-top: 1px solid white;
	/* padding: 20px 0; */
}

/* attribute box */

.charaSheetMid {
	margin-top: 20px;
	margin-bottom: 20px;
}

.charaSheetMid > * {
	background-color: #23272a;
}

.charaSheetMid > .sidebar {
	padding: 0;
}

.charaAttributeListContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	margin: 0;
	border: 1px white solid;
	box-shadow: 0 0 5px white;
	/* margin-right: 10px; */
}

.charaAttributeBox {
	/* outline: 1px solid white; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 8em;
	flex: 1 1 0px;
	padding: 5px;
	padding-top: 2em;
	margin-bottom: 20px;
	background-color: #2c2f33;
}

.charaAttributeValue {
	font-size: 3em;
}

.charaAttributeCircle {
	border: white 1px solid;
	width: 50%;
	height: 30%;
	border-radius: 100%;
	position: relative;
	transform: translateY(60%);
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	background-color: #2c2f33;
}

.strBox,
.strBox > .charaAttributeCircle {
	border: 1px solid red;
	box-shadow: red 0 0 10px;
}
.dexBox,
.dexBox > .charaAttributeCircle {
	border: 1px solid green;
	box-shadow: green 0 0 10px;
}
.conBox,
.conBox > .charaAttributeCircle {
	border: 1px solid tan;
	box-shadow: tan 0 0 10px;
}
.intBox,
.intBox > .charaAttributeCircle {
	border: 1px solid royalblue;
	box-shadow: royalblue 0 0 10px;
}
.wisBox,
.wisBox > .charaAttributeCircle {
	border: 1px solid mediumpurple;
	box-shadow: mediumpurple 0 0 10px;
}
.chaBox,
.chaBox > .charaAttributeCircle {
	border: 1px solid deeppink;
	box-shadow: deeppink 0 0 10px;
}

.mainbar {
	/* outline: white 1px solid; */
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border: 1px white solid;
	box-shadow: 0 0 5px white;
	margin-left: 20px;
}

.mainbarContent {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1em;
	padding: 1em;
	width: 80%;
	/* outline: lime 1px solid; */
}

.overlapXBox {
	/* outline: 1px solid white; */
	border: 1px white solid;
	box-shadow: 0 0 5px white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3em;
	width: 100%;
	background-color: #2c2f33;
}

.overlapXCircle {
	border: 1px white solid;
	box-shadow: 0 0 5px white;
	width: 20%;
	height: 130%;
	border-radius: 50%;
	position: relative;
	transform: translatex(-50px);
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	background-color: #2c2f33;
}

.proficiencyBonusLabel,
.passiveWisBonusLabel {
	width: 60%;
}

.savingThrowContainer,
.skillContainer {
	flex-direction: column;
	align-items: center;
	border: 1px white solid;
	box-shadow: 0 0 5px white;
}

.savingThrowInnerContainer,
.skillInnerContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.savingThrowAttributeBox,
.skillBox {
	display: flex;
	align-items: center;
	justify-content: center;
}

.attributeModLabel {
	display: flex;
	align-items: center;
	justify-content: center;
}

.attributeModLabel > * {
	margin: 5px;
}

.attributeModLabel > p {
	text-decoration: underline;
}

.boxLabel {
	position: relative;
	margin-bottom: 0;
	text-align: center;
}

.profSkillBar {
	justify-content: space-around;
}

.row {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid white;
}

.rowBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin: 10px;
	border: 1px solid white;
	/* width: 33%; */
	flex: 1 1 0px;
}

.atkContainer {
	padding: 0;
	width: 80%;
}

.atkContainer > table {
	/* border-collapse: collapse; */
	/* outline: 1px solid white; */
	/* border-radius: 10px; */
	border: none;
	width: 100%;
	/* margin: 0; */
}

.atkTable * {
	text-align: center;
	min-width: 100px;
	border: none;
}

.equipmentContainer {
	width: 90%;
	padding: 10px;
	border: 1px white solid;
	box-shadow: 0 0 5px white;
}

.moneyPieceList {
	width: 30%;
}

.moneyPieceBox {
	width: 100%;
	display: flex;
	justify-content: center;
	border: 1px solid white;
}

.moneyPieceBox > p {
	margin-right: 10px;
}

.otherProf {
	border: 1px white solid;
	box-shadow: 0 0 5px white;
}

/* ------------------------------------------------------------------------------------- */

/* bottom sec */

.charaSheetBottom > div {
	/* flex: 1 1 0px; */
	width: 45%;
	background-color: #23272a;
	margin: 0;
	/* justify-content: space-between; */
}

.charaSheetBottom {
	/* margin-left: 20px; */
	width: 100%;
	justify-content: space-between;
}

.personality {
	min-height: 100%;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px white solid;
	box-shadow: 0 0 5px white;
	padding: 5px;
}

.personality > div {
	/* outline: 1px solid white; */
	width: 90%;
	margin: 10px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	justify-content: center;
}

.personality > div > div:first-child {
	width: 90%;
	max-width: 90%;
	word-wrap: break-word;
	text-align: center;
}

.feature {
	padding: 5px;
	justify-content: space-between;
	border: 1px white solid;
	box-shadow: 0 0 5px white;
}

.featureText {
	margin-top: 10px;
	width: 90%;
	max-width: 90%;
	word-wrap: break-word;
	text-align: center;
}

.errorText {
	color: red;
	margin: 0;
}

.whiteText {
	color: white !important;
}

.editProfileTable {
	border: none;
}
.editProfileTable * {
	border: none;
}

.editProfileTable > tr > td:first-child {
	text-align: right;
}
